<a href="https://colab.research.google.com/github/apschlissel/capstone/blob/main/Books_Cleaning_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CAPSTONE - Books Data Cleaning and Light EDA Script

Don't forget to load the books_expanded.csv into the google colab storage.

In [1]:
##Import Libraries
import numpy as np
import pandas as pd

In [2]:
## Read in Data
original_book_df = pd.read_csv('./books_expanded.csv', sep=',')

original_book_df.shape[0]

52479

In [3]:
original_book_df.head()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,Fantasy,Erotica,History,Dystopia,Poetry,Biography,Manga,Thriller,Graphic Novels,Romance
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9.78044E+12,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,Fantasy,NaN,NaN,Dystopia,NaN,NaN,NaN,NaN,NaN,Romance
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9.78044E+12,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,1E+13,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,1E+13,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romance
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9.78032E+12,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romance

FILTER THE DATA

In [4]:
## Remove Blank Descriptions
filt_df = original_book_df.dropna(subset=['description'])
filt_df.shape[0]

51140

In [5]:
## Genre Filters - Definitely
filt_df = filt_df[filt_df['Nonfiction'] != "Nonfiction"]
filt_df = filt_df[filt_df['Erotica'] != "Erotica"]
filt_df.shape[0]

41012

In [6]:
## Additional Genre's - Added 6/29
filt_df = filt_df[~filt_df["genres"].str.contains('Parenting')]
filt_df = filt_df[~filt_df["genres"].str.contains('Picture Books')]
filt_df.shape[0]

40391

In [7]:
## Genre Filters - Possibly
filt_df = filt_df[filt_df['Biography'] != "Biography"]
filt_df = filt_df[filt_df['Poetry'] != "Poetry"]
filt_df = filt_df[filt_df['genres'] != "[]"]
filt_df.shape[0]

35232

In [8]:
## Language Filters
filt_df = filt_df[(filt_df['language'] == "English") | (filt_df['language'] == "")]
filt_df.shape[0]

29656

In [9]:
## Book Format Filters
filt_df = filt_df[filt_df['bookFormat'] != "Album"] 
filt_df = filt_df[filt_df['bookFormat'] != "Wattpad"]
filt_df = filt_df[(filt_df['bookFormat'] != "Newsprint")]
filt_df = filt_df[filt_df['bookFormat'] != "Newsletter Serial"]
filt_df = filt_df[(filt_df['bookFormat'] != "Board Book") & (filt_df['bookFormat'] != "Board")]
filt_df.shape[0]

29652

In [10]:
filt_df.tail()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,Fantasy,Erotica,History,Dystopia,Poetry,Biography,Manga,Thriller,Graphic Novels,Romance
52473,11492014-fractured,Fractured,Fateful #2,Cheri Schmidt (Goodreads Author),4.00,The Fateful Trilogy continues with Fractured. ...,English,2.94001E+12,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",[],...,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romance
52474,11836711-anasazi,Anasazi,Sense of Truth #2,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...",English,1E+13,"['Mystery', 'Young Adult']",[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52475,10815662-marked,Marked,Soul Guardians #1,Kim Richardson (Goodreads Author),3.70,--READERS FAVORITE AWARDS WINNER 2011--Sixteen...,English,9.78146E+12,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",[],...,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romance
52476,11330278-wayward-son,Wayward Son,NaN,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,A POWERFUL TREMOR UNEARTHS AN ANCIENT SECRETBu...,English,9.78145E+12,"['Fiction', 'Mystery', 'Historical Fiction', '...",[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52477,10991547-daughter-of-helaman,Daughter of Helaman,Stripling Warrior #1,Misty Moncur (Goodreads Author),4.02,Fighting in Helaman's army is Keturah's deepes...,English,9.7816E+12,"['Lds Fiction', 'Historical Fiction', 'Young A...",[],...,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romance

In [11]:
##Write out the Filtered Dataframe to a .csv
filt_df.to_csv("./books_filtered.csv", sep=',', encoding='utf-8')

Reducing to Columns to Pertinent Only

In [12]:
##Removing Columns
reduced_df = filt_df.drop(columns=['rating', 'characters', 'awards', 'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg', 'price', 'bbeVotes', 'bbeScore'])
reduced_df = reduced_df.drop(columns=['bookFormat', 'edition', 'publisher', 'firstPublishDate', 'language'])
reduced_df = reduced_df.drop(columns=['Poetry', 'Biography', 'Erotica', 'Nonfiction'])
reduced_df.shape[0]

29652

In [13]:
reduced_df.head()

,bookId,title,series,author,description,isbn,genres,pages,publishDate,Fiction,Young Adult,Childrens,New Adult,Fantasy,History,Dystopia,Manga,Thriller,Graphic Novels,Romance
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,9.78044E+12,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,9/14/2008,Fiction,Young Adult,NaN,NaN,Fantasy,NaN,Dystopia,NaN,NaN,NaN,Romance
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",There is a door at the end of a silent corrido...,9.78044E+12,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,9/28/2004,Fiction,Young Adult,Childrens,NaN,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,1E+13,"['Classics', 'Fiction', 'Historical Fiction', ...",324,5/23/2006,Fiction,Young Adult,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",Alternate cover edition of ISBN 9780679783268S...,1E+13,"['Classics', 'Fiction', 'Romance', 'Historical...",279,10/10/2000,Fiction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romance
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,About three things I was absolutely positive.\...,9.78032E+12,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,9/6/2006,Fiction,Young Adult,NaN,NaN,Fantasy,NaN,NaN,NaN,NaN,NaN,Romance

In [14]:
reduced_df.to_csv("./books_filtered_colsreduced.csv", sep=',', encoding='utf-8')